<main>
    <section>
     
          <img src="<%= view.image_url %>" alt="">
          <h2 class="title"><%= view.title %></h2>
          <h3 class="author"><%= view.author %></h3>
          <p class="description"><%= view.descriptions %></p>
          <h3 class="isbn">ISBN: <%= view.isbn %></h3>
          <h3 class="bookshelf">Bookshelf: <%= view.bookshelf %></h3>
         
    </section>
  </main>