<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layout/head') %>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('../../layout/header') %>
    <main>
        <h4>Search Result </h4>

        <% searchResults.forEach( book => { %>
        <div class="new">
            <img src="<%=book.image%>" alt="">

            <h2 class="one"><%= book.title %></h2>
            <h3><%=book.authors%></h3>
            <p><%=book.description%></p>
            <!-- <button class="select" >Select this book</button> -->

            <form  class="hide-form" action="/books" method="post">


                <input   name="title" type="text" value="<%= book.title %>" style="display: none;"/>
                <input  name="authors" type="text" value="<%= book.authors %>" style="display: none;" />
                <input name="isbn" type="text" value="<%= book.isbn %>" style="display: none;"/>
                <input name="image_url" type="text" value="<%= book.image %>" style="display: none;"/>
                <input name="description" type="text" value="<%= book.description %>" style="display: none;"/>
                <input name="bookshelf" type="text" value="<%= book.bookshelf %>" style="display: none;"/>
            
                <div><button id="/books/<%=book.id%>" type="submit" >Add To Database</button></div>
            
            </form>

        </div>
        <% }) %>

    </main>

</body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../../../public/js/app.js"></script>
</html>