<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
</head>

<body>
    <%- include('../layout/header') %>
     <main>
     
   
    <h4>Saved Books</h4>
    <p class="num">Number of books: <%= results.length %> </p>
    
        <% results.forEach(book => {%>
        <div class="books">
          <img src="<%= book.image_url %>" alt="">
          <h2 class="title"><%= book.title %></h2>
          <h3 class="author"><%= book.author %></h3>
          <div class="view"><a class="link" href="/books/<%=book.id%>">View Details</a></div>
        </div>
        <% })%>
      
    </main> 
</body>

</html>